<title>QBNLP</title>
<h2 style="color: #11557C;text-align: center">Welcome to use Qianbo NLP_Server !!!</h2>
<body style="background-color: #eeeeee">
<br/>
<p>Choose the Operation you want:</p>
<ul>
    <br>
{#    <li><a href="http://qbaidata.com:10123/shouyupy/admin/reload" METHODS="POST" style="text-decoration:none">Reload#}
{#        System</a>#}
{#    </li>#}
{#    <br>#}
    <li><a href="http://qbaidata.com:10123/shouyupy/admin/reboot" METHODS="POST" style="text-decoration:none">Reboot
        System</a>
    </li>
    <br/>
    <li><a href="http://qbaidata.com:10123/shouyupy/admin/shutdown" METHODS="POST" style="text-decoration:none">Shutdown
        System</a>
    </li>
</ul>
</body>
