<title>QBNLP</title>
<h2 style="color: #11557C;text-align: center">Welcome to use Qianbo NLP_Server !!!</h2>
<body style="background-color: #eeeeee">
<br/>
<p>Choose the function you need:</p>
<ul>
    <li><a href="http://qbaidata.com:10123/split" target="_blank" style="text-decoration:none">Sentence translation</a>
    </li>
    <br/>
    <li><a href="http://qbaidata.com:10123/predict" target="_blank" style="text-decoration:none">Word predict</a>
    </li>
    <br/>
    <li><a href="http://qbaidata.com:10123/login" target="_blank" style="text-decoration:none">Administration login</a>
    </li>
</ul>
</body>

