<meta charset="utf-8">
<title>word predict</title>
<!--<script src="../js/jquery-3.2.1.min.js"></script>-->
<h2 style="color: #11557C;text-align: center">Welcome to use Qianbo NLP_Server !!!</h2>
<body style="background-color: #eeeeee">
<br/>
<h3>Word Predict</h3>

<form>
  Enter word:
  <input type="text " id="words" name="words" formmethod="post">
  <input type="submit" id="btn" value="predict" formmethod="post">
</form>
<div>
    <div>
        <div style="color: #ac519a;float: left">LogReg_model预测为：</div>
        <div style="color: #21ac2a;float: left" id="results_1">暂未开放</div>
    </div>
    <br>
    <div>
        <div style="color: #ac519a;float: left">基于词向量计算为：</div>
        <div style="color: #21ac2a;float: left" id="results_2">暂未开放</div>
    </div>
    <br>

    <div id="collection"></div>
</div>

</body>

